@import url('https://fonts.googleapis.com/css?family=Raleway:200');


.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 15vw;
  font-family: raleway;
  background: #34495e;
}

.item {
  color: white;
  font-size: 20px;
  padding: 5px;
}

.section {
  padding: 20px;
}
